.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.round{
  border:2px solid white;
  font-size: 0.7em;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.right-status-items{
  position: absolute;
  right: 10px;
}
