<div class="grid-container">
    <mat-grid-list cols="6" rowHeight="2em">

        <mat-grid-tile [colspan]="3" [rowspan]="10" *ngIf="showTasks">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Tasks
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Hide</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <app-tasks #availableTasks></app-tasks>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="10" *ngIf="showTasks">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        On Going Tasks
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Hide</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                <app-running-tasks></app-running-tasks>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
